@import 'bootstrap/dist/css/bootstrap.css';

ul {
    list-style-type: none;
    padding: 0;
}

:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

.capitalize {
    text-transform: capitalize;
}

.sidebar {
    min-height: 100vh;
    background-color: #1d2327;
}

.sidebar * {
    color: #fff;
    background-color: transparent;
}

.sidebar a {
    border-left: none;
    border-right: none;
    border-top: none;
    border-width: 1px;
    transition: all 0.125s ease;
}

.sidebar a:hover,
.sidebar a.active,
.sidebar a.router-link-exact-active {
    background-color: #2271b1;
}
