@import 'bootstrap/dist/css/bootstrap.css';

:root {
    --color-primary: #3498db;
}

.disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    opacity: 0.6;
    user-select: none;
    pointer-events: none;
}

a,
button {
    cursor: pointer;
}

a:focus,
button:focus {
    outline: none !important;
    box-shadow: none !important;
}

ul {
    list-style-type: none;
    padding: 0;
}

:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

.capitalize {
    text-transform: capitalize;
}

.sidebar {
    min-height: 100vh;
    background-color: #1d2327;
}

.sidebar * {
    color: #fff;
    background-color: transparent;
}

.sidebar a {
    border-left: none;
    border-right: none;
    border-top: none;
    border-width: 1px;
    transition: all 0.125s ease;
}

.sidebar a:hover,
.sidebar a.active,
.sidebar a.router-link-exact-active {
    background-color: #2271b1;
}
